<div class="filter-container">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="ex. ">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Symbol</mat-label>
      <input matInput placeholder="Ex. California">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Market Cap</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105">
    </mat-form-field>


</div>


