<div class="filter-container">

    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="ex. Bitcoin">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Symbol</mat-label>
      <input matInput placeholder="Ex. btc">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Market Cap</mat-label>
      <input matInput maxlength="5" placeholder="Ex. 381651251">
    </mat-form-field>

  <div class="search-button-section">
    <button class="search-button" mat-raised-button>Search</button>
    <button class="search-button" mat-raised-button>Clear</button>
  </div>

</div>


