/* You can add global styles to this file, and also import other style files */


html, body { height: 100vh}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
   --light-blue: #e6e6e7;
   --light-grey: #a4a4a4;
   --blue: rgb(26, 100, 141);
}

.spinner {
  position: absolute;
  display: flex;
  top: 40px;
  margin: 0 auto;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}


@media screen and (max-width: 400px) {
  .mdc-text-field--filled .mdc-floating-label {
    font-size: 12px !important;
  }
}
